<!DOCTYPE html>
<html lang="en">
<body class="sb-nav-fixed">
  <div id="layoutSidenav_content">
    <main>
      <div class="container mt-4">
        <table class="table table-striped" style="width:100%">
          <tr>
            <th style="width:25%; text-align: center;">Nom</th>
            <th style="width:25%; text-align: center;">Email</th>
            <th style="width:25%; text-align: center;">Role</th>
            <th style="width:25%; text-align: center;">Action</th>
          </tr>
        </table>
        <app-one-user *ngFor="let user of Listusers" [user]="user" (deleteEvent)="supprimer($event)"></app-one-user>
      </div>
    </main>
  </div>
</body>
</html>