<table class="table table-striped" style="width:100%">
  <tbody s>
    <ng-container>
      <tr class="user-row">
        <td style="width:25%; text-align: center;">{{ user.name }}</td>
        <td style="width:25%; text-align: center;">{{ user.email }}</td>
        <td style="width:25%; text-align: center;">{{ user.role }}</td>
        <td style="width:25%; text-align: center;"><button class="btn btn-warning"
            onclick="supprimer()">Supprimer</button></td>
      </tr>
    </ng-container>
  </tbody>
</table>